p{
  margin: 5px;
  cursor: pointer;
  /*so text can't be selected*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

p:hover {
  text-shadow: 0 0 20px #e6f9ff;
}

textarea {
  font-size: 40px;
  font-family: Arial Rounded MT Bold;
  margin-bottom: 20px;
  background-color: #00bfff;
  border: none;
  color: white;
  resize: none;
  outline-style: none;
}

textarea:hover {
  text-shadow: 0 0 10px #e6f9ff;
}

textarea:focus {
  text-shadow: none;
}

img {
  margin: -5px 0px 5px 0px;
}

a {
  color: white;
  cursor: pointer;
}

#loc {
  font-size: 40px;
}

#refresh {
  font-size: 20px;
}

#credits {
  font-size: 5px;
  margin-top: 10px;
  cursor: default;
  text-shadow: none;
}

#weatherText {
  margin-top: 10px;
  font-size: 20px;
  cursor: default;
  text-shadow: none;
}

#temptext{
  font-size: 40px;
  margin-top: 10px;
  cursor: pointer;
}

#tempwrapper {
  height: 50px;
  width: 140px;
}

#main {
  cursor: default;
  height: auto;
  width: auto;
  padding: 10px 30px 10px 30px;
  font-size: 10px;
  font-family: Arial Rounded MT Bold;
  text-align: center;
  margin-top: 25px;
  position: fixed;
  left: 10%;
  background-color: #00bfff;
  border-radius: 10px;
  color: white;
  box-shadow: 10px 10px #0099ff;
  /*box-shadow: 10px 10px #30d8ff;*/
}

#root {
  height: 10px;
  width: 10px;
  background-color: #fcfcfc;
  border: 1px solid #f0f0f0;
}
