* {
  cursor: default;
}

#loc {
  cursor: pointer;
}

#refresh {
  cursor: pointer;
}

#ahidebutton {
  visibility:hidden;
}

#alocField {
  visibility:hidden;
}

.hiddenThing {
  visibility:hidden;
}

img {
  padding-bottom: 25px;
}

textarea {
  resize: none;
  background-color: #00bfff;
  border: 2px solid #00afef;
  border-radius: 5px;
  color: white;
}

table {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px #0099ff;
  /*box-shadow: 10px 10px #30d8ff;*/
}

div {
  height: 2px;
  width: 2px;
  background-color: #ccccff;
  border: 1px solid #aaaaff;
}
