* {
  cursor: default;
}

#loc {
  cursor: pointer;
  font-size: 40px;
  position: relative;
}

p {
  margin: 10px;
}

img {
  margin: -10px;
}

#refresh {
  cursor: pointer;
  font-size: 20px;
}


.hiddenThing {
  visibility:hidden;
}

#temptext{
  font-size: 40px;
  margin-top: 20px;
}

#main {
  height: auto;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 10px;
  font-family: Arial Rounded MT Bold;
  text-align: center;
  margin-top: 25px;
  position: fixed;
  left: 20%;
  background-color: #00bfff;
  border-radius: 10px;
  color: white;
  box-shadow: 10px 10px #0099ff;
  /*box-shadow: 10px 10px #30d8ff;*/
}

#locField {
  background-color: #00bfff;
  border: 2px solid #00afee;
  border-radius: 5px;
  color: white;
  margin-top: -100px;
}

#root {
  height: 10px;
  width: 10px;
  background-color: #fcfcfc;
  border: 1px solid #f0f0f0;
}
